<div class="container">
    <div class="row text-left mb-2 mt-2 w">
        <div class="col-4">
            <button type="button" class="btn btn-dark w-100">
                <%= link_to 'Lists', lists_path, :class => "link_button" %>
            </button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-dark w-100">
                <%= link_to 'Edit', edit_list_path(@list), :class => "link_button" %>
            </button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-dark w-100">
                <%= link_to 'Delete', @list, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link_button" %>
            </button>
        </div>
    </div>
    <h3 class="text-center">
        <%= @list.name %>
    </h3>
    <h3 class="text-center">Recipes</h3>
    <% @recipes.reverse.each do |recipe| %>
        <h5><%= recipe.name %></h5>
        <% recipe.ingredients.each do |ingredient| %>
            <div class="text-left">
                <div class="d-flex justify-content-center card-body bg-light rounded mb-1 mt-1 text-center">
                    <div class="col-6">
                        <h5>
                            <%= ingredient.name  %>
                        </h5>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary">
                            <%= link_to 'Edit', edit_ingredient_path(ingredient), :class => "link_button" %>
                        </button>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary">
                            <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link_button" %>
                        </button>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
    <h3 class="text-center">Ingredients</h3>
    <% @list.ingredients.each do |ingredient| %>
        <div class="text-left">
            <div class="d-flex justify-content-center card-body bg-light rounded mb-1 mt-1 text-center">
                <div class="col-6">
                    <h5>
                        <%= ingredient.name  %>
                    </h5>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary">
                        <%= link_to 'Edit', edit_ingredient_path(ingredient), :class => "link_button" %>
                    </button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary">
                        <%= link_to 'Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' }, :class => "link_button" %>
                    </button>
                </div>
            </div>
        </div>
    <% end %>
</div>