<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.text_area :content, rows: 4, style: 'width:100%;', class: "rounded"%>
  <div class="form-group row">
    <div class="col-sm-8">
      <%= form.submit class: 'btn btn-primary', style: 'width:100%; margin-bottom: 2vh;' %>
    </div>
    <div class="col-sm-4 text-center file-uploader">
      <label class="w-100 btn btn-dark btn-change-avatar">
        Upload images
        <span style="display:none;">
          <%= form.file_field :images, multiple: true, direct_upload: true %>
        </span>
      </label>
    </div>
  </div>
<% end %>