<h2>Edit ingredient</h2>
<%= form_with(model: @ingredient) do |form| %>
    <% if @ingredient.errors.any? %>
        <div id="error_explanation">
        <   h2><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>
            <ul>
                <% @ingredient.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="col-12">
            <p>Name: </p>
            <%= form.text_area :name, rows: 1, style: 'width:100%;', class: "rounded"%>
        </div>
        <div class="col-12">
            <p>Weight (in g): </p>
            <%= form.number_field :weight, style: 'width:100%;', class: "rounded"%>
        </div>
        <div class="col-12">
            <p>Price (in usd): </p>
            <%= form.number_field :price, style: 'width:100%;', class: "rounded"%>
        </div>
    </div>
    <%= hidden_field(:origin, :name, :value => @options[:origin]) %>
    <%= hidden_field(:origin, :id, :value => @options[:origin_id]) %>
    <div class="form-group row">
        <div class="col-sm-12 mb-2 mt-2">
            <%= form.submit class: 'btn btn-primary', style: 'width:100%; margin-bottom: 2vh;' %>
        </div>
    </div>
<% end %>